{{> header}}
<article role="main" class="h-entry">
<header><h1 class="p-name">{{{title}}}</h1></header>
<section class="e-content">
{{{html}}}
</section>
<footer style="display:none;">
<p>
Published by <a class="p-author h-card" href="/about.html">{{{author}}}</a> 
 on <time class="dt-published" datetime="{{{created_date}}}T{{{created_time}}}Z"><a class="u-url" href="{{{permalink}}}">{{{pagecreateddate}}}</a></time>.
</p>
</footer>
</article>
{{> footer}}
