<div style="text-align:center;">
<p>
<small>
<a href="/">home</a>
 - <a href="/info.html">info</a>
 - <a href="/search.html">search</a>
 - <a href="{{{permalink}}}">#</a>
</small>
</p>
</div>
</body>
</html>
