<center>
<small><a href="/">home</a> - <a href="/info.html">info</a> - <a href="/search.html">search</a></small><br />
<!-- <small>{{{pagecreateddate}}}</small> -->
<small><a href="{{{permalink}}}"><em>permalink</em></a></small>
</center>
<br />
</body>
</html>
