<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{pagetitle}}</title>
  <meta charset="utf-8" />
  <meta name="author" content="{{{author}}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="{{{permalink}}}" />
<style>
{{#using_custom_css}}
{{{custom_css}}}
{{/using_custom_css}}
</style>
</head>
<body>
<article role="main">
<header>
<h1>{{{title}}}</h1> 
</header>
<section>
{{{html}}}
</section>
<footer>
<p>
Published by <a href="/about.html">{{{author}}}</a> 
 on <time datetime="{{{created_date}}}T{{{created_time}}}Z"><a href="{{{permalink}}}">{{{pagecreateddate}}}</a></time>.
</p>
</footer>
</body>
</html>
