{{> header}}
<link rel="stylesheet" type="text/css" href="{{{css_dir_url}}}/form.css"  /> 
<p>
<form action="/sora/dologin" method="post">
<strong>Sora login</strong><br />
<input type="text" class="email" type="email" name="email" maxlength="50"/>
<br />
<input class="submitbutton" type="submit" value="Login" />
</form>
</p>
{{> footer}}
