{{> header}}
<link rel="stylesheet" type="text/css" href="/css/form.css"  /> 
<article>
<p>
<form action="/sora/dologin" method="post">
<strong>Sora login</strong><br />
<input type="text" id="email" type="email" name="email" maxlength="50"/>
<br />
<input class="submitbutton" type="submit" value="Login" />
</form>
</p>
</article>
{{> footer}}

