<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{pagetitle}}</title>
  <meta charset="utf-8" />
  <meta name="author" content="{{{author}}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="{{{permalink}}}" />
<!--  <link rel="stylesheet" href="{{{maincss_url}}}" />  -->
  <link rel="alternate" type="application/json" title="JSON Feed" href="http://sora.soupmode.com/feed.json" />
  <link rel="alternate" type="text/html" title="Microformatted HTML feed page" href="http://sora.soupmode.com/hfeed.html" /> 
<style>
/* maybe later include name="inc_minified-css.tmpl" */
{{#using_custom_css}}
{{{custom_css}}}
{{/using_custom_css}}
</style>
</head>
<body>

<div class="home-link">
<a href="/">home</a>
</div>

<article role="main" class="h-entry">
<header>
<h1 class="p-name">{{{title}}}</h1> 
</header>
<section class="e-content">

{{{html}}}
</section>
<footer>
<p> 
Published by <a class="p-author h-card" href="/about.html">{{{author}}}</a> 
 on <time class="dt-published" datetime="{{{created_date}}}T{{{created_time}}}Z"><a class="u-url" href="{{{permalink}}}">{{{pagecreateddate}}}</a></time>.
</p>
</footer>
</article>


<div class="sitewide-footer">
<a href="/">home</a>
 - <a href="/info.html">info</a>
 - <a href="/search.html">search</a>
 - <a href="{{{permalink}}}">#</a>
</div>

</body>
</html>

