
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{pagetitle}}</title>
<!--  <link rel="stylesheet" href="{{{maincss_url}}}" />  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* maybe later include name="inc_minified-css.tmpl" */
{{#using_custom_css}}
{{{custom_css}}}
{{/using_custom_css}}
</style>
</head>
<body>

<div class="home-link">
<a href="/">home</a>
</div>

<h1>{{{title}}}</h1> 
{{{html}}}
<p>
{{{author}}} - {{{created_date}}}T{{{created_time}}}Z
</p>

<center>
<small><a href="/">home</a> - <a href="/info.html">info</a> - <a href="/search.html">search</a></small><br />
<small>{{{pagecreateddate}}}</small>
</center>
</body>
</html>

