title: {{{title}}}
description: {{{description}}}
link: {{{link}}}
language: en-us
generator: {{{generator}}}
creator: jr@sawv.org JR
created: {{{created}}}
rights: Copyright 2018 JR
uri: {{{uri}}}
errorsto: jr@sawv.org
{{#items_loop}}

title: {{{title}}}
link: {{{link}}}
created: {{{created}}}
{{/items_loop}}
