
body {

    margin: 10px auto;
    max-width: 680px;
    padding: 0 10px;
    font-size: 22px; 
    line-height: 38px;

/*
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font-size: 1.2em;
    line-height: 1.62;
    font-family: sans-serif;
*/

    color:     #222;
    background: #fafafa;


    font-family: 
        -apple-system, 
        BlinkMacSystemFont, 
        "San Francisco", 
        "Roboto",
        "Oxygen",
        "Segoe UI", 
        "Ubuntu", 
        "Cantarell",
        "Fira Sans", 
        "Droid Sans", 
        "Helvetica Neue", 
        "Lucida Grande",
        Verdana, 
        "Helvetica", 
        sans-serif;

}

h1,h2,h3,h4,h5,h6 {
    line-height:1.2;
}

@media print {
    body {
        color: #000;
        background-color: #fff;
        line-height: normal;
        max-width: 100%;
        font-size: 18px;
    }
}

